body {
	background: -webkit-linear-gradient(#404040 1px, transparent 1px),
	-webkit-linear-gradient(#373737 1px, transparent 1px),
	-webkit-linear-gradient(left, #404040 1px, transparent 1px),
	-webkit-linear-gradient(left, #373737 1px, transparent 1px);
	background: -moz-linear-gradient(#404040 1px, transparent 1px),
	-moz-linear-gradient(#373737 1px, transparent 1px),
	-moz-linear-gradient(left, #404040 1px, transparent 1px),
	-moz-linear-gradient(left, #373737 1px, transparent 1px);
	background: -o-linear-gradient(#404040 1px, transparent 1px),
	-o-linear-gradient(#373737 1px, transparent 1px),
	-o-linear-gradient(left, #404040 1px, transparent 1px),
	-o-linear-gradient(left, #373737 1px, transparent 1px);
	background: linear-gradient(#404040 1px, transparent 1px),
	linear-gradient(#373737 1px, transparent 1px),
	linear-gradient(90deg, #404040 1px, transparent 1px),
	linear-gradient(90deg, #373737 1px, transparent 1px);
	background-color: #333;
	-webkit-background-size: 60px 60px, 20px 20px, 60px 60px, 20px 20px;
	-moz-background-size: 60px 60px, 20px 20px, 60px 60px, 20px 20px;
	background-size: 60px 60px, 20px 20px, 60px 60px, 20px 20px;
}

h1,
h2,
h3 {
	text-align: center;
	margin-bottom: 0;
}

h2 {
	color: #d76767;
	font: 36px Arial;
	margin: 10px 0 50px;
	padding: 0;
}

h1 {
	color: #0093ae; 
	font: 400 48px Arial;
	margin: 50px 0 10px;
}

.head h3 {
	color: #fff;
	line-height: 40px;
	font: 36px Arial;
	padding: 0;
	margin: 50px 0 0;
}

.main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
	border: none;
}

.head {
	background: #272727;
	text-align: center;
	padding: 50px;
}

.content {
	background: #fff;
	padding: 25px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.anonse {
 background-color: #f9f9f9;
  border: 1px solid #bbb;
  padding: 20px;
  margin: 25px;
  box-sizing: border-box;
  flex: 1 0 340px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.pic {
	margin-right: 20px;
	flex: 0 3 260px;
	-webkit-box-shadow: 0 0 7px #222 inset;
	   -moz-box-shadow: 0 0 7px #222 inset;
	        box-shadow: 0 0 7px #222 inset;
}
.pic img {
	width: 100%;
	height: auto;
	position: relative;
	vertical-align: middle;
	z-index: -1
}

.text {
	flex: 1 1 220px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.text h3 {
		padding: 0;
		text-align: left;
		margin-top: 5px;
    font: 400 30px Cuprum;
    color: #6c6c6c;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.text p {
	margin-bottom: 0;
}
.text p:last-child {
	margin: 50px 0 0 0;
	text-align: right;
}
.text p a:hover {
	background-color: #e44d26;
	border: 1px solid #d14622;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	
}

.text:hover h3 {
	color: #d4431e;
	color: #e44d26;
}

a {
	font-size: 15px;
	color: rgba(255, 255, 255, 255);
	background-color: #0070bb;
	padding: 5px 10px;
	border: 1px solid #165884;
	text-decoration: none;
}
.logo {
	text-align: center; 
	padding: 50px 0 50px 0;
}

@media screen and (max-width:1224px) {
	.main {
		margin: 0 20px;
	}
	.text p:last-child {
		margin: 30px 0 0 0;
	}
}
@media screen and (min-width:1050px) and  (max-width:1180px) {
 .text p {
   margin-top: 10px;
	}
}
@media screen and (min-width:880px) and  (max-width:1050px) {
	.anonse{
		flex-direction: column;
	}
	.text p:last-child {
		margin: 30px 0 0 0;
	}
	.pic {
		margin: 0 auto;
	}
	.text h3 {
		text-align: center;
	}
}
.vid {
	margin: 25px;
	flex-basis: 100%;
	display: flex;
	justify-content: center;
}


@media screen and (min-width:400px) and  (max-width:660px) {
	.head img{
		width: 100%;
		height: auto;
	}
	h2, .head h3 {
		font-size: 30px;
	}
	h1 {
		font-size: 40px;
	}
	.logo img {
		width: 100%;
		height: auto;
	}
}
@media screen and (max-width:800px) {
	.vid {
		display: block;
		height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
	}
	.video iframe, .video embed, .video object {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media screen and (max-width:500px) {
	.anonse{
		flex-direction: column;
		margin: 10px auto;
	}
}
@media screen and (min-width:300px) and  (max-width:500px) {
	.anonse{
		flex: 240px;
	}
	.pic {
		flex: 150px;
	}
	.text h3 {
		font-size: 25px;
	}
	img {
		width: 100%;
		height: auto;
	}
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 30px;
	}
	.head h3 {
		font-size: 30px;
	}
}